#containerUI{
    background-color: black;
}

#barTitle{
    background-color: rgb(69,49,26);
}

#barTab{
    background-color: rgba(142,80,39,255);
}

#barRibbon{
    background-color: rgba(112,81,61,255);
}

#panelParameters{
    background-color: rgb(167, 114, 45);
}

#panelTree{
    background-color: rgb(167, 114, 45);
}

#panelDebug{
    background-color: rgba(153,102,75,255);   
}

#workspaceContainer{
    background-color: black;    
}

.ribbonOption{
    color: rgb(248,224,197);
}

.tab{
    color: rgb(248,224,197);
    font-weight: 600;
}

.card-text {
    font-weight: 400;
}

.accordion h5 {
    color: aqua;
}

.accordion-body strong {
    color: chartreuse;
}

.CircArrayBody {
    padding: 10px;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #fff;
    background-color: #8aba87 !important;
    text-align: center;
  }