<script>var exports = {};</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warcraft 3 UI Maker</title>
    <link rel="stylesheet" href="position.css">
    <link rel="stylesheet" href="./styles/highlight.css">
</head>

<body>

    <div id="containerUI">

        <div id="workspaceContainer">

            <img id="workspace" src="./files/images/backgroundWorkspace.png" alt="workspace" draggable="false">

        </div>

        <div id="barTitle">

            <div id="appInfo">

                <img id="appIcon" src="" alt="icon">
                <span id="appTitle">Warcraft 3 UI Maker</span>

            </div>

            <div id="windowButtons">

                <img id="btnMinimizeWindow" src="" alt="minimize">
                <img id="btnMaximizeWindow" src="" alt="maximize">
                <img id="btnCloseWindow" src="" alt="close">

            </div>

        </div>

        <div id="barTab">

            <div class="tab">File</div>
            <div class="tab">Edit</div>
            <div class="tab">View</div>
            <div class="tab">Insert</div>
            <div class="tab">Window</div>

        </div>

        <div id="barRibbon">

            <div class="ribbonOption">New</div>
            <div class="ribbonOption">Open</div>
            <div class="ribbonOption">Save</div>
            <div class="ribbonOption">Export</div>

        </div>

        <div id="panelParameters">
            <button id='panelClose'>Panel</button>

            <table id="tableParameters">

                <tr>
                    <th>Element</th>
                    <th>Value</th>
                </tr>

                <tr>

                    <td><label for="elementName">Name: </label></td>
                    <td><input type="text" name="elementName" id="elementName" class="parameter"></td>
                    

                </tr>

                <tr>
                    <td><label for="elementType">Type: </label></td>
                    <td>
                        <select name="elementType" id="elementType" class="parameter">
                            
                            <option value="typeTest1">Test1</option>
                            <option value="typeTest2">Test2</option>
                            <option value="typeTest3">Test3</option>

                        </select>
                    </td>

                </tr>

                <tr>
                    <td><label for="elementParent">Parent: </label></td>
                    <td>
                        <select name="elementParent" id="elementParent" class="parameter">

                            <option value="parentTest1">Parent1</option>
                            <option value="parentTest1">Parent2</option>
                            <option value="parentTest1">Parent3</option>


                        </select>
                        
                    </td>
                </tr>

                <tr>
                    <td><label for="elementWidth">Width: </label></td>
                    <td><input type="number" name="elementWidth" id="elementWidth" class="parameter"></td>
                </tr>

                <tr>
                    <td><label for="elementHeight">Height: </label></td>
                    <td><input type="number" name="elementHeight" id="elementHeight" class="parameter"></td>
                </tr>

                <tr>
                    <td><label for="elementCoordinates">Coordinates<br>(bottom left): </label></td>
                    <td><input type="text" name="elementCoordinates" id="elementCoordinates" class="parameter"></td>
                </tr>

                <tr>

                    <td><label for="elementCoordinateX">├ X:</label></td>
                    <td><input type="text" name="elementCoordinateX" id="elementCoordinateX" class="parameter"></td>

                </tr>

                <tr>

                    <td><label for="elementCoordinateY">└ Y:</label></td>
                    <td><input type="text" name="elementCoordinateY" id="elementCoordinateY" class="parameter"></td>

                </tr>

                <tr>
                    <td><label>Texture: </label></td>
                    <td class="browseOption">

                        <input type="text" id="elementTexture" class="parameter">
                        <button id="buttonBrowseTexture">...</button>

                    </td>

                </tr>

                <tr>
                    <form id="formIMG">
                        <!--<label for="img">Select image:</label>-->
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit" id="imgBUTTON">
                    </form>
                </tr>

            </table>

        </div>

        <div id="panelTree">
            <button id='treeClose'>Tree</button>
            <ul class='treeRoot'>
                <li class='treeRoot'>TreeRoot</li>
                <ul>
                    <li class='treeNode'>TreeItem1</li>
                    <li class='treeNode'>TreeItem2</li>
                    <li class='treeNode'>TreeItem3</li>
                    <ul class='treeNode'>
                        <li class='treeNode'>TreeItem4</li>
                        <li class="treeNode">treeItem5</li>
                    </ul>
                    <li class='treeNode'>TreeItem6</li>
                    <li class="treeNode">treeItem7</li>
                </ul>
            </ul>

        </div>

        <div id="panelDebug">

            <div id='debugLine'>Debug Line for this unlimited UI reforging the reforged editor. Life too good to be true man</div>
            <div id='debugGameCoordinates'>Game: (x , y)</div>
        </div>

    </div>

    <script type="module" src="renderer.js"></script>

</body>

</html>