<script>var exports = {};</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warcraft 3 UI Maker</title>
    <link rel="stylesheet" href="bootstrap.min.css">

    <link rel="stylesheet" href="position.css">
    <link rel="stylesheet" href="./styles/highlight.css">
    
</head>

<body>

    <div class="modal fade" id="AboutUs" tabindex="-1" aria-labelledby="AboutUs" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">About Us</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body text-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img style="width: 200px;" src="./files/AboutUs/night.png" alt="icon" class="align-self-center d-flex mr-3 img-thumbnail">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="card-title">NightKnight (Deadreyo)</h3>
                                        <h4 class="card-subtitle text-white-50">Some Cool Guy From Afar</h4>
                                        <p class="card-text">A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="card-title">Insanity_AI</h3>
                                        <h4 class="card-subtitle text-white-50">No Idea whoever this dude is</h4>
                                        <p class="card-text">Doesn't like when people don't use object oriented design patterns when writing editors.</p>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <img style="width: 200px;" src="./files/AboutUs/insanity.png" alt="icon" class="align-self-center d-flex ml-3 img-thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card bg-secondary">
                            <div class="card-header">
                                <h2 class="card-title">Overview</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5 class="text-warning">Warcraft 3 Reforged UI Designer</h5>
                                    is a tool made to create User Interface designs for Warcraft 3 Maps using graphical elements. The application revolves around the the concept of <em>(What You See Is What You Get)</em>
                                    , as the product will be a typical copy of what is on the screen.</p>
                                <p>The main goal of the application is to take WC3 UI modding to the next level, by facilitating UI creation and allowing anyone to design their own unique UI, <strong>without any prerequisite coding knowledge</strong>. This application is made to be used by GUI coders, Jass coders, LUA coders and Typescript coders. For Typescript, it is specifically made to work with <a class="link-info" href="https://github.com/cipherxof/wc3-ts-template">TriggerHappy's TSTL template</a>.
                                </p>
                                <h5 class="text-warning">Expectations</h5>
                                <p>This application and UI Modding together have unlimited potential. As it gets more and more known and used, it will gradually revolutionize the whole modding scene, and become a core part of making any map. <strong class="text-warning">This is the future of Map Development.</strong></p>
                                <p>It works on Warcraft III version 1.31+</p>
                            </div>
                            <div class="card-footer text-white-50">
                                <p>This is a Web-UI application. It was designed using Electron and coded with HTML/CSS/Typescript. Some elements of the interface were made using Bootrstrap. The application's icon was made by <strong>Wselfwulf</strong>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card bg-secondary">
                            <div class="card-header">
                                <h2 class="card-title">History</h2>
                                <h6 class="text-white-50">Everything here is from NightKnight's Perspective</h6>
                            </div>
                            <div class="card-body">
                                <h5 class="text-warning">Origination of the Idea</h5>
                                <p>With the arrival of WC3 v1.31 and the introduction of UI, I was certain the game developers would create an editor in which UI could be designed graphically. When Reforged hit, everything was a mess and I realized that was not going to happen, and that I would have to learn a coding language in order to make use of frames.
                                    <p>
                                        Thankfully at that point, I had already learnt Jass. However, the coding of Frames and UI was not easy. You had to put random numbers as positions and dimensions, test it to see how it looked like, then start numerous tests to achieve the position or dimension you desired. It was a painful process, which was exacerbated when I moved on to Typescript. I had to wait between 30 to 60 seconds for each test to begin.
                                    </p>
                                    <br>Another issue was the fact that after taking a rest from coding UI, I would forget how I used to create stuff and what worked and what did not. These were not just my issues, these were the issues many faced.
                                </p>
                                <h5 class="text-warning">Creating the Application</h5>
                                <p>The idea of the graphical UI designing came back to me, and fortunately I had already learnt a useful coding language (Typescript). I started messing around with Electron, put some text and number fields, an ingame screenshot and made a feature that inserted little images onto the screenshot. Things were slow, I was still learning how to work with electron and Web-UI.
                                    <p>
                                        Unfortunately, I didn't really receive the support I expected from the community. It was like some people didn't really care about what this application could introduce, while the most were very skeptical and doubted I could actually make something useful and working. However, I just pushed forward and continued putting time and effort into it.
                                    </p>
                                    <p>
                                        Then one day, I was thinking about getting someone to work with me on this project. I randomly sent an invitation to Insanity_AI -because he was always nice to me- even though I was almost sure he would refuse becaue he quit WC3. For some reason, he accepted, and I was baffled. I had to take some time to believe it.
                                    </p>
                                    <br>Starting from that moment, development accelerated alot, and here we are now, successfully made the application that shall affect the modding scene.
                                </p>
                            </div>
                            <div class="card-footer text-white-50">
                                <p>Learning Typescript -to create some maps- was the main reason I was able to get into Web Development and create this application. I highly encourage to move on from GUI or Jass into Typescript.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    


    <div id="containerUI">

        <div id="workspaceContainer">

            <img id="workspace" class="row justify-content-center" src="./files/images/backgroundWorkspace.png" alt="workspace" draggable="false">

        </div>

        <div id="barTab" style='color: rgb(248,224,197);'>

            <div class="tab">File</div>
            <div class="tab">Edit</div>
            <div class="tab">View</div>
            <div class="tab">Insert</div>
            <div class="tab">Window</div>

        </div>

        <div id="barRibbon" style='color: rgb(248,224,197);'>

            <div class="ribbonOption">New</div>
            <div class="ribbonOption">Open</div>
            <div class="ribbonOption">Save</div>
            <div class="ribbonOption">Export</div>

        </div>

        <div id="panelParameters">
            <div class='row justify-content-start'>
                <button class='col-4 btn btn-warning' id='panelClose'>Panel</button>
            </div>

            <div id='FieldElement'>
            <label><b>Details</b></label>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="elementName" placeholder="name">
                <label for="elementName">Name</label> 
            </div>

            <div id='FieldType'>
            <label for="elementType" class="col-4">Type: </label>
            <select name="elementType" id="elementType">
                <option value="1">Backdrop</option>
                <option value="2">Button</option>
            </select>
            </div>

            <label for="elementParent" class="col-4">Parent: </label>
            <select name="elementParent" id="elementParent" class="parameter">
                <option value="parentTest1">Parent1</option>
                <option value="parentTest1">Parent2</option>
                <option value="parentTest1">Parent3</option>
            </select>
            
            <div class="form-check" id='FieldTooltip'>
              <label class="form-check-label">
                Tooltip for Parent
                <input type="checkbox" class="form-check-input" name="elementTooltip" id="elementTooltip">
              </label>
            </div>
            
            <hr>

            <label><b>Coordinates (bottom left)</b></label>

            <div class='row gx-1 justify-content-evenly'>
                <div class="col-6 form-floating mb-1 ">
                    <input type="number" min="0" max="0.8" step="0.01" name="elementCoordinateX" id="elementCoordinateX" class="form-control" placeholder="name">
                    <label for="elementCoordinateX">X</label>
                </div>
                <div class="col form-floating mb-2">
                    <input type="number" min="0" max="0.8" step="0.01" name="elementCoordinateY" id="elementCoordinateY" class="form-control" placeholder="name">
                    <label for="elementCoordinateY">Y</label>
                </div>
            </div>


            <div class="form-floating mb-1">
                <input type="number" min="0" max="0.8" step="0.01" name="elementWidth" id="elementWidth" class="form-control" placeholder="name">
                <label for="elementWidth">Width</label>
            </div>

        

        
            <div class="form-floating mb-3">
                <input type="number" min="0" max="0.8" step="0.01" name="elementHeight" id="elementHeight" class="form-control" placeholder="name">
                <label for="elementHeight">Height: </label>
            </div>

            
            <hr>
                
            <div id='FieldTexture'>
            <label for=""><b>Texture Paths</b></label>
            <div class='row gx-1'>
                <div class="col-9 form-floating mb-1">
                    <input type="text" id="elementDiskTexture" class="form-control" placeholder="name">
                    <label for="elementDiskTexture">Texture Path</label>
                </div>

                <label class='col btn btn-primary' for='buttonBrowseTexture' style="padding: 1rem 0rem !important">. . .</label>
                <input type="file" style="display:none" id="buttonBrowseTexture">
            </div>
                    

            <div class="form-floating mb-3">
                <input type="text" name="elementWC3Texture" id="elementWC3Texture" class="form-control" placeholder="name">
                <label for="elementWC3Texture">Texture Path (WE)</label>
            </div>

            <hr>
            </div>

            <div id='FieldFunctionalityFull'>
                <label for=""><b>Functionality</b></label>

                
                <div id='FieldFunctionalityText'>
                    <div class="form-floating mb-1">
                        <input type="text" name="elementText" id="elementText" class="form-control" placeholder="name">
                        <label for="elementText">Text</label>
                    </div>
                </div>
                
                
                <div id='FieldFunctionalityTextFrame'>
                    <div class="form-floating mb-1">
                        <textarea class="form-control" name="elementTextBig" id="elementTextBig" cols="22" rows="10" style="height: 100px;"></textarea>
                        <!-- <input type="text" name="elementText" id="elementText" class="form-control" placeholder="name"> -->
                        <label for="elementTextBig">Text</label>
                    </div>
                
                
                    <label for="elementTextScale" class="col-8">Text Scale: </label>
                    <input type="number" class="col-3" name="elementTextScale" id="elementTextScale" value="1" step="0.1" min="0" max="5">
               

                    <label for="elementTextColor" class="col-8">Text Color: </label>
                    <input type="color" name="elementTextColor" id="elementTextColor" value="#FFFFFF">
                </div>

               
                <div id='FieldFunctionalityVar'>
                    <div class="form-floating mb-3">
                        <input type="text" name="elementTrigVar" id="elementTrigVar" class="form-control" placeholder="name">
                        <label for="elementTrigVar">Triggered Variable</label>
                    </div>
                </div>
                <hr>
            </div>
            </div>
            
            <div id='FieldGeneral'>
                <label for=""><b>General Options</b></label>
                <div class="form-floating mb-3">
                    <input type="text" name="generalLibName" id="generalLibName" class="form-control" placeholder="name" value="REFORGEDUIMAKER">
                    <label for="generalLibName">Library Name</label>
                </div>
                    
                <label for="generalGameUI" class="col-10">Hide Full Game UI: </label>
                <input type="checkbox" name="generalGameUI" id="generalGameUI">
                    
                <label for="generalHeroBar" class="col-10">Hide Hero Bar: </label>
                <input type="checkbox" name="generalHeroBar" id="generalHeroBar">
                    
                <label for="generalMiniMap" class="col-10">Hide Minimap: </label>
                <input type="checkbox" name="generalMiniMap" id="generalMiniMap">
                    
                <label for="generalResources" class="col-10">Hide Resources Bar: </label>
                <input type="checkbox" name="generalResources" id="generalResources">
                    
                <label for="generalButtonBar" class="col-10">Hide Button Bar: </label>
                <input type="checkbox" name="generalButtonBar" id="generalButtonBar">
                    
                <label for="generalPortrait" class="col-10">Hide Portrait: </label>
                <input type="checkbox" name="generalPortrait" id="generalPortrait">
                    
                <label for="generalChat" class="col-10">Hide Chat (Chat won't be visible): </label>
                <input type="checkbox" name="generalChat" id="generalChat">


                <hr>
            </div>

            
            <!-- <label for=""><b>Custom Element</b></label>
            <form id="formIMG" >
                <input type="file" id="imgFile" name="imgFile" accept="image/*">
                <input type="submit" id="imgBUTTON">
            </form> -->

            <!-- <button id="test">Custom Text!</button> -->
                

        </div>

        <div id="panelTree">
            <div class='row justify-content-end'>
                <button class='col-3 btn btn-warning' id='treeClose'>Tree</button>
            </div>
            <div id="panelTreeView"></div>

        </div>

        <div id="panelDebug" style='color: rgb(248,224,197);'>

            <div class='row justify-content-evenly'>
                <b id='debugLine' class="col-5">Debug Line</b>
                <div id='debugGameCoordinates' style="color: black;" class="col-7" >Game: (x , y)</div>
            </div>
            <div id='credits' style="color: black;" class="col-12">Developed by: NightKnight & Insanity_AI. Consider Supporting!</div>
            
        </div>

    <script src="bootstrap.bundle.js"></script>
    <script type="module" src="renderer.js"></script>

</body>

</html>