<script>var exports = {};</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warcraft 3 UI Designer</title>
    <link rel="stylesheet" href="./styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap.min.css">

    <link rel="stylesheet" href="position.css">
    <link rel="stylesheet" href="./styles/highlight.css">
    
</head>

<body>

    <div id="modal-container">

    </div>

    <!-- CircArray -->
    <div class="modal fade" id="CircArray" tabindex="-1" data-bs-backdrop="static" aria-labelledby="AboutUs" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content CircArrayBody">
                <div class="modal-header">
                    <h5>Circular Array</h5>
                </div>
                <div class="modal-body text-black">
                    <div class="container-fluid">
                        <div>
                            <div class="form-floating mb-3">
                                <input type="number" min="0" max="0.4" step="0.01" value="0.1" name="radius" id="radius" class="form-control" placeholder="name">
                                <label for="radius">Radius: </label>
                            </div>
                        
                            <div class="form-floating mb-3">
                                <input type="number" min="0" max="10" step="1" value="6" name="count" id="count" class="form-control" placeholder="name">
                                <label for="count">Count: </label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="number" min="0" max="360" step="1" value="0" name="initAng" id="initAng" class="form-control" placeholder="name">
                                <label for="initAng">Initial Angle (degrees): </label>
                            </div>
                        

                            <hr class="m-0; mt-1">

                            <div class="row align-items-center" style="margin: 0px; margin-top: -20px" 
                            data-bs-toggle="tooltip" title="Automatically assign each child created to the parent of the corresponding index">
                                <input type="checkbox" disabled name="checkParent" id="CircCheckParent" class="col-2 order-1" style="min-height: 80px;">
                                <label class="col-auto offset-1 order-2" style="font-size: large; font-weight: bold; color: teal;" for="checkParent">Array Parent</label>    
                            </div>
                            <div class="w-100" style="margin-top: -15px">
                              <hr class="m-0; mt-1">
                            </div>
                        
                            <div class='row justify-content-center btn-group'>
                                <button class='col-3 btn btn-success' id='CircArraySubmit'>Submit</button>
                                <button class='col-3 btn btn-danger' data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>


    <div id="containerUI">

        <div id="workspaceContainer">

            <img id="workspace" class="row justify-content-center border border-1" src="./files/images/backgroundWorkspace.png" alt="workspace" draggable="false">

        </div>

        <div id="barTab" style='color: rgb(248,224,197);'>

            <div class="tab">File</div>
            <div class="tab">Edit</div>
            <div class="tab">View</div>
            <div class="tab">Insert</div>
            <div class="tab">Window</div>

        </div>

        <div id="barRibbon" style='color: rgb(248,224,197);'>

            <div class="ribbonOption">New</div>
            <div class="ribbonOption">Open</div>
            <div class="ribbonOption">Save</div>
            <div class="ribbonOption">Export</div>

        </div>

        <div id="panelParameters" class="panels scroll_enabled">
            <div class='row justify-content-start'>
                <button class='col-4 btn btn-warning' id='panelClose'>Panel</button>
            </div>

            <div id='FieldElement'>
            <label><b>Details</b></label>
            <div class="form-floating mb-1" data-bs-toggle="tooltip" title="Name of the element. Can be an array syntax, but must start with index 0">
                <input type="text" class="form-control" id="elementName" placeholder="name">
                <label class="text-black" for="elementName">Name</label> 
            </div>

            <div id='FieldType'>
            <label for="elementType" class="col-4">Type: </label>
            <select name="elementType" id="elementType">
                <option value="1">Backdrop</option>
                <option value="2">Button</option>
            </select>
            </div>


            <div data-bs-toggle="tooltip" title="Select the parent. Children are displayed over parents ingame">
                <label for="elementParent" class="col-4">Parent: </label>
                <select name="elementParent" id="elementParent" class="parameter">
                    <option value="parentTest1">Parent1</option>
                    <option value="parentTest1">Parent2</option>
                    <option value="parentTest1">Parent3</option>
                </select>
            </div>
            
            <div class="form-check" id='FieldTooltip' data-bs-toggle="tooltip" data-bs-html="true" title="Tooltips appear when hovering over their parents<hr>Disabled if the parent has another tooltip, parent is a tooltip or element is child of Origin">
              <label class="form-check-label">
                Tooltip for Parent
                <input type="checkbox" class="form-check-input" name="elementTooltip" id="elementTooltip">
              </label>
            </div>
            
            <hr>

            <label><b>Coordinates (bottom left)</b></label>

            <div class='row gx-1 justify-content-evenly'>
                <div class="col-6 form-floating mb-1" id="tooltipX" data-bs-toggle="tooltip" title="arrow keys move elements. Hold shift for smaller movement">
                    <input type="number" min="0" max="0.8" step="0.01" name="elementCoordinateX" id="elementCoordinateX" class="form-control" placeholder="name">
                    <label class="text-black" for="elementCoordinateX">X</label>
                </div>
                <div class="col form-floating mb-2" id="tooltipY" data-bs-toggle="tooltip" title="arrow keys move elements. Hold shift for smaller movement">
                    <input type="number" min="0" max="0.8" step="0.01" name="elementCoordinateY" id="elementCoordinateY" class="form-control" placeholder="name">
                    <label class="text-black" for="elementCoordinateY">Y</label>
                </div>
            </div>


            <div class="form-floating mb-1">
                <input type="number" min="0" max="0.8" step="0.01" name="elementWidth" id="elementWidth" class="form-control" placeholder="name">
                <label class="text-black" for="elementWidth">Width</label>
            </div>

        

        
            <div class="form-floating mb-3">
                <input type="number" min="0" max="0.8" step="0.01" name="elementHeight" id="elementHeight" class="form-control" placeholder="name">
                <label class="text-black" for="elementHeight">Height: </label>
            </div>

            
            <hr>
                
            <div id='FieldTexture'>
                <label for=""><b>Texture Paths</b></label>
                <div class='row gx-1'>
                    <div class="col-9 form-floating mb-1" id="tooltipTextureApp" data-bs-toggle="tooltip" title="The appearance inside the app. Not related to the game">
                        <input type="text" id="elementDiskTexture" class="form-control" placeholder="name">
                        <label class="text-black" for="elementDiskTexture">Texture Path</label>
                    </div>

                    <label class='col btn btn-primary' for='buttonBrowseTexture' style="padding: 1rem 0rem !important">. . .</label>
                    <input type="file" accept="image/*" style="display:none" id="buttonBrowseTexture">
                </div>
                        

                <div class="form-floating mb-3" id="tooltipTextureWC3" data-bs-toggle="tooltip" title="The appearance ingame. Put the path of the blp file in Asset Manager here">
                    <input type="text" list="WC3TextureList" name="elementWC3Texture" id="elementWC3Texture" class="form-control" placeholder="name">
                    <label class="text-black" for="elementWC3Texture">Texture Path (WE)</label>
                    <datalist id="WC3TextureList">
                        <option value="Black">
                        <option value="Red">
                        <option value="Green">
                        <option value="Blue">
                        <option value="White">
                    </datalist>
                </div>

                <hr>
            </div>

            <div id='FieldFunctionalityFull'>
                <label for=""><b>Functionality</b></label>

                
                <div id='FieldFunctionalityText' data-bs-toggle="tooltip" title="This text will be written inside the element">
                    <div class="form-floating mb-1">
                        <input type="text" name="elementText" id="elementText" class="form-control" placeholder="name">
                        <label class="text-black" for="elementText">Text</label>
                    </div>
                </div>
                
                
                <div id='FieldFunctionalityTextFrame'>
                    <div class="form-floating mb-1" data-bs-toggle="tooltip" title="Supports multi-line. Can also use color strings for colored parts of the text">
                        <textarea class="form-control" name="elementTextBig" id="elementTextBig" cols="22" rows="10" style="height: 100px;"></textarea>
                        <!-- <input type="text" name="elementText" id="elementText" class="form-control" placeholder="name"> -->
                        <label class="text-black" for="elementTextBig">Text</label>
                    </div>
                
                
                    <label for="elementTextScale" class="col-8">Text Scale: </label>
                    <input type="number" class="col-3" name="elementTextScale" id="elementTextScale" value="1" step="0.1" min="0" max="5">
               

                    <label for="elementTextColor" class="col-8">Text Color: </label>
                    <input type="color" name="elementTextColor" id="elementTextColor" value="#FFFFFF">
                </div>

               
                <div id='FieldFunctionalityVar' data-bs-toggle="tooltip" data-bs-html="true" title="Requires a variable of type 'real'. Variable name is always preceded by 'udg_'.<hr>For buttons, the variable will have the <b>number of the pressing player.</b><hr>For checkbox, value = 1 if it was unchecked, value = 2 if it was checked">
                    <div class="form-floating mb-3">
                        <input type="text" name="elementTrigVar" id="elementTrigVar" class="form-control" placeholder="name">
                        <label class="text-black" for="elementTrigVar">Triggered Variable</label>
                    </div>
                </div>
                <hr>
            </div>
            </div>
            
            <div id='FieldGeneral'>
                <label for=""><b>General Options</b></label>
                <div class="form-floating mb-3" id="tooltipLibName" data-bs-toggle="tooltip" title="Must be unique to be able to have more than 1 project in a map">
                    <input type="text" name="generalLibName" id="generalLibName" class="form-control" placeholder="name" value="REFORGEDUIMAKER">
                    <label class="text-black" for="generalLibName">Library Name</label>
                </div>
                    
                <label for="generalGameUI" class="col-10" data-bs-toggle="tooltip" 
                    title="Hides all the default UI like resource bar and unit data UI">Hide Default Game UI: </label>
                <input type="checkbox" name="generalGameUI" id="generalGameUI">
                    
                <label for="generalHeroBar" class="col-10" data-bs-toggle="tooltip" 
                title="Hides hero health and mana bars from the left side">Hide Hero Bar: </label>
                <input type="checkbox" name="generalHeroBar" id="generalHeroBar">
                    
                <label for="generalMiniMap" class="col-10" data-bs-toggle="tooltip" 
                title="Hides the minimap">Hide Minimap: </label>
                <input type="checkbox" name="generalMiniMap" id="generalMiniMap">
                    
                <label for="generalResources" class="col-10" data-bs-toggle="tooltip" 
                title="Hides the resource bar (gold, lumber)">Hide Resources Bar: </label>
                <input type="checkbox" name="generalResources" id="generalResources">
                    
                <label for="generalButtonBar" class="col-10" data-bs-toggle="tooltip" 
                title="Hide the button bar (menu, log)">Hide Button Bar: </label>
                <input type="checkbox" name="generalButtonBar" id="generalButtonBar">
                    
                <label for="generalPortrait" class="col-10" data-bs-toggle="tooltip" 
                title="Hides the units' portraits">Hide Portrait: </label>
                <input type="checkbox" name="generalPortrait" id="generalPortrait">
                    
                <label for="generalChat" class="col-10" data-bs-toggle="tooltip" 
                title="Chat messages sent by players' won't be visible">Hide Chat: </label>
                <input type="checkbox" name="generalChat" id="generalChat">


                <hr>
            </div>

            
            <!-- <label for=""><b>Custom Element</b></label>
            <form id="formIMG" >
                <input type="file" id="imgFile" name="imgFile" accept="image/*">
                <input type="submit" id="imgBUTTON">
            </form> -->

            <!-- <button id="test">Custom Text!</button> -->
                

        </div>

        <div id="panelTree" class="panels scroll_enabled">
            <div class='row justify-content-end'>
                <button class='col-3 btn btn-warning' id='treeClose'>Tree</button>
            </div>
            <div id="panelTreeView"></div>

        </div>

        <div style='color: rgb(248,224,197);'>

            <div class="container-fluid">
                <div class='row panelDebugBackground' style="background-image: url(./files/woodenplankHorBig.png); background-position: center;"
            }>
                    <div id="panelDebug" class="col-8 offset-2">
                        <div class="row" style="padding: 0px 12px;">
                            <b id='debugLine' class="col-7">Debug Line</b>
                            <div id='debugGameCoordinates' class="col-5" >Game: (x , y)</div>
                            <div id='credits' class="col-12 text-warning text-center border-2 border border-warning">Developed by: NightKnight & Insanity_AI. Consider Supporting!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type="module" src="renderer.js"></script>

</body>

</html>