
.window-title{
    color: yellow;
}

.window-appicon{
    background-size: 25px !important;
}

body{
    margin: 0;  

}

#containerUI{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#barTab{
    position: fixed;
    top: 30px;
    height: 40px;
    width: 100vw;
    
    display: flex;
}

#barTab .tab{
    width: fit-content;

    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: auto;
    /* transform: translate(0%, 50%); */
}

#barRibbon{
    position: fixed;
    top:70px;
    height: 50px;
    width: 100vw;

    display: flex;
    overflow-x: inherit;
    z-index: 1;
}

.ribbonOption{

    white-space: nowrap;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    align-self: center;
    min-width: 100px;
}

.ribbonOption.dropdown-toggle-split{
    margin-left: -14px !important;
    padding-top: 10px !important;
    margin-right: 10%;
    align-self: center;
    height: 90%;
    min-width: fit-content;
}

.ribbonOption.insert{
    width: 7%;
}

#panelParameters{
    position: fixed;
    top:120px;
    bottom:0;
    max-width: 200px;
    min-width: 80px;
    left:0;
    
    overflow-y: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#panelClose{
    position: relative;
    width: fit-content;
    height: fit-content;
    visibility: visible;
}

#tableParameters{

    height: min-content;
    width: 97%;
    margin-inline-start: 1%;
    margin-inline-end: 2%;
    gap: 0;
    
}

#tableParameters td{ 
    width:100%;
    height: fit-content;
    padding: 0;
}

#tableParameters td:first-child{
    width:fit-content;
    height: fit-content;
}

#tableParameters td:first-child ~ td{

    display: inline-flex;
    height: fit-content;
}

#tableParameters .parameter{
    width: 100%;   
}

#workspaceContainer{
    position: fixed;
    left: 0;
    right: 0;
    top:120px;
    bottom:0;
}

#workspaceContainer #workspace{
    position: relative;
    height: 90%;
    width:auto;
    margin: auto;
    margin-top: 3px;
    
}

#panelTree{
    position: fixed;
    width: 200px;

    right: 0;
    top:120px;
    bottom:0px;
    overflow-x: auto;
    overflow-y: auto;

    padding-right: 0.5%;
    
}

#treeClose{
    right: 100%;
    width: fit-content;
    height: fit-content;
    visibility: visible;
}

#panelDebug{
    height:8%;
    width:40vw;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    padding: 5px;
}

.panelDebugBackground{
    height: 6%;
    bottom: 0;
    position: fixed;
    background-color: darkkhaki;
    left: 212px;
    right: 212px;
}

.accordion-body li {
    padding: 10px;
}

.accordion-body ol {
    padding: 10px;
}

.accordion-body ul {
    padding: 10px;
}

.panels {
    background-image: url('./files/WoodenPanels.png');
    background-repeat: round;
    background-size: auto 100%;
    color: white;
}