
.window-title{
    color: yellow;
}

.window-appicon{
    background-size: 25px !important;
}

body{
    margin: 0;  

}

#containerUI{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#barTab{
    position: fixed;
    top: 30px;
    height: 40px;
    width: 100vw;
    
    display: flex;
}

#barTab .tab{
    width: fit-content;

    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: auto;
    transform: translate(0%, 50%);
}

#barRibbon{
    position: fixed;
    top:70px;
    height: 50px;
    width: 100vw;

    display: flex;
    overflow-x: auto;
}

#barRibbon .ribbonOption{

    white-space: nowrap;
    width: auto;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;

}

#panelParameters{
    position: fixed;
    top:120px;
    bottom:0;
    max-width: 200px;
    min-width: 80px;
    left:0;
    
    overflow-y: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#panelClose{
    position: relative;
    width: fit-content;
    height: fit-content;
    visibility: visible;
}

#tableParameters{

    height: min-content;
    width: 97%;
    margin-inline-start: 1%;
    margin-inline-end: 2%;
    gap: 0;
    
}

#tableParameters td{ 
    width:100%;
    height: fit-content;
    padding: 0;
}

#tableParameters td:first-child{
    width:fit-content;
    height: fit-content;
}

#tableParameters td:first-child ~ td{

    display: inline-flex;
    height: fit-content;
}

#tableParameters .parameter{
    width: 100%;   
}

#workspaceContainer{
    position: fixed;
    left: 0;
    right: 0;
    top:120px;
    bottom:0;
}

#workspaceContainer #workspace{
    position: relative;
    height: 100%;
    width:auto;
    margin: auto;
    
}

#panelTree{
    position: fixed;
    width: 200px;

    right: 0;
    top:120px;
    bottom:0px;
    overflow-x: auto;
    overflow-y: auto;

    padding-right: 0.5%;
    
}

#treeClose{
    right: 100%;
    width: fit-content;
    height: fit-content;
    visibility: visible;
}

#panelDebug{
    height:75px;
    width:40vw;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    padding: 5px;
}


.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
  }