<script>var exports = {};</script>
<style>
body {
    padding: 10px;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #fff;
    background-color: #8aba87 !important;
    font-size: 34px;
  }
  
  #close {
    color: white;
    opacity: 0.7;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-decoration: none;
  }
  </style>

  <head>
    <title>Table Array</title>
    <link rel="stylesheet" href="bootstrap.css">
  </head>

  <body class="container">
    <div class="form-floating mb-3">
        <input type="number" min="0" max="10" step="1" name="rows" id="rows" class="form-control" placeholder="name">
        <label for="rows">Rows: </label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" min="0" max="10" step="1" name="columns" id="columns" class="form-control" placeholder="name">
        <label for="columns">Columns: </label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="number" min="0" max="0.4" step="0.01" name="gapX" id="gapX" class="form-control" placeholder="name">
        <label for="gapX">X-Gap: </label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="number" min="0" max="0.4" step="0.1" name="gapY" id="gapY" class="form-control" placeholder="name">
        <label for="gapY">Y-Gap: </label>
    </div>
    <hr class="m-0; mt-1">

    <div class="row align-items-center" style="margin: 0px; margin-top: -20px">
        <input type="checkbox"  name="checkParent" id="checkParent" class="col-2 order-1" style="min-height: 80px;">
        <label class="col-auto offset-1 order-2" style="font-size: large; font-weight: bold; color: teal;" for="selectParent">Array Parent</label>    
    </div>
    <div class="w-100" style="margin-top: -15px">
      <select name="arrayParent" id="selectParent" class="parameter col-12 p-2 order-3 mb-3" style="display: none;">
        <option value="parentTest1">Parent1</option>
        <option value="parentTest1">Parent2</option>
        <option value="parentTest1">Parent3</option>
      </select>
      <hr class="m-0; mt-1">
    </div>

    <div class='row justify-content-center'>
        <button class='col-3 btn btn-success' id='submit'>Submit</button>
        <button class='col-3 btn btn-danger' onclick="window.close()">Close</button>
    </div>

      <script type="module" src="TableArray.js"></script>

    </body>
